examples/* linguist-documentation
docs/* linguist-documentation
*.ipynb linguist-documentation
Makefile linguist-documentation

*.css text=auto eol=lf
*.html text=auto eol=lf
*.js text=auto eol=lf
*.json text=auto eol=lf
*.less text=auto eol=lf
*.md text=auto eol=lf
*.py text=auto eol=lf
*.toml text=auto eol=lf
*.ts text=auto eol=lf
*.yaml text=auto eol=lf
