include LICENSE
include README.md
include CONTRIBUTING.md

include .bumpversion.cfg
include pyproject.toml
include Makefile

graft jupyterlab_templates
graft jupyterlab_templates/extension
graft jupyterlab_templates/labextension

# grab js
graft js
prune js/coverage
prune js/dist
prune js/docs
prune js/lib
prune js/node_modules
prune js/yarn.lock

# get rid of binder
prune binder

# get rid of docs
prune docs

# get rid of test and lint artifacts
prune .pytest_cache
prune .ruff_cache
prune .mypy_cache

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
